.challenge-pending {
    background-color: #fd7e14 !important;
    border-color: #fd7e14 !important;
    color: #fff !important;
}

.challenge-rejected {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #fff !important;
}
